body {
    font-family: 'Lato',sans-serif !important;
    font-size: 14px;
    line-height: 20px;
    color: rgb(51, 51, 51);
}

ul {
    padding: 0px;
    margin: 0px 0px 10px 25px;
}

ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0px;
}

body {
    font-family: 'Lato',sans-serif !important;
    font-size: 14px;
    line-height: 20px;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

body
{background-color: rgb(248, 248, 248);}


h1, h2, h3, h4, h5, h6 {
    margin: 10px 0px;
    font-weight: bold;
    line-height: 1;
    text-rendering: optimizelegibility;
}

.navegacion_top {
    background-color: rgb(40, 48, 50);
    width: 100%;
	height: 100px;
    padding: 10px 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.navegacion_top ul 
{
	padding:0px;
	margin:0px;
	list-style:none;
}

.container {
    width: 1100px;
	margin-right: 20px;
    margin-left: auto;
	top: 50px;
}

.text-home
{ 
	margin-left: 550px;
	margin-right: 200px;
	text-align: justify;
	margin-top: 50px;
}

.text-home p {    
    font-family: 'Josefin Sans Std Light', serif;
    font-size: 20px;
}

.text-home h1 {    
    font-family: 'Josefin Sans Std Light', serif;
    font-size: 40px;
}

#assinatura {
font-style: italic;
}

.navegacion_top  ul {
    padding-top: 40px;
    height: auto;
	text-align: right;
}

.navegacion_top ul li { display: inline; }

.navegacion_top ul li a {
    display: inline-block;
    color: rgb(204, 204, 204);
    text-transform: uppercase;
    text-decoration: none;
    font: 200 1.0em 'Lato';
    padding: 14px 14px 13px;
	text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

.op_navegacion {
	z-index: 10;
    display: block;
    cursor: pointer;
    font-family: proxima_nova_rgregular;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    white-space: nowrap;
}

.navegacion_top ul li a:hover {
	text-decoration: none !important;
	color: rgb(255, 255, 255) !important;
	background-color: rgb(102, 102, 102);
}
/*
.logotipo_nav img
	padding: 0px 0px 0px;
}
*/
.logotipo_nav p {
	padding: 0px 0px 0px;
	font-size: 32px;
	font-family: Happy Monkey;
	color: rgb(192,192,192);
	line-height: 30px;
}

.logotipo_nav {
	margin-left: -120px;
	padding-top: 0px 0px 0px;
	width: 300px;
	position: absolute;
	top: 10px;
	left: 190px;
}

.imag-logo
{
	position:absolute;
	top:40%;
	margin-top:-90px;
	margin-left: 150px;
}

.tecnologia-com-qualidade
{
	position:absolute;
	top:40%;
	margin-top:180px;
	height: 101px;
	width: 340px;
	margin-left: 100px;
}
 
.submenu{
    margin:0;
    list-style:none;
    display:none; 
    position:absolute;
    top:30px;
	height: 200px;
}
 
.submenu ul{
	line-height: 2px;
} 
 
 
.menu li:hover .submenu{
    display:block;
}
 
.submenu li a:link,
.submenu li a:visited{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font: 200 1.0em 'Lato';
	text-decoration: none;
	margin-left: 450px;
	margin-top: 50px;
}
 
.submenu li:hover a,
.submenu li a:active,
.submenu li a:hover{
    display: block;
    background: #ffd200;
    text-decoration: none;  
    font-weight: bold;
}
 
.submenu-2{
    margin:0;
    list-style:none;
    display:none;
    width:130px;
    position:absolute;
    left: 180px;
    top: 0;
}
 
.menu .submenu li:hover .submenu-2{
    display:block;
}
 

/*Media Queries*/
@media only screen and (max-width: 800px) {
.op_navegacion {
max-width: 100%;
margin: 0;
}

.nav-toggle {
display: block;
padding: .4em;
margin: .5em 0;
}