#naveg {
    background-color: #1b1b1b;
}

#empresa {
    font-family: Happy Monkey;
    color: rgb(192,192,192);
    margin-left: 20px;
}

#Hello {
    font-family: Mouse Memoirs;
}

.span9 ul li {
    color: rgb(192,192,192);
    font-family: Happy Monkey;
}

.text-home {
    margin-top: 80px;
    text-align: justify;
}

.tecnologia-com-qualidade
{  
    height: 71px;
    width: 200px;
}

.img-rounde { 
    float: right;
    height: 300px;
    width: 290px; 
}

.img-rounded { 
    float: right;
    height: 350px;
    width: 270px;
    margin-right: 20%;
    margin-top: -60px;
}

    #frase { 
       height: 101px;
       width: 300px; 
    }
    
    #imag {
        height: 300px;
        width: 300px; 
    }

#fras { 
       height: 90px;
       width: 650px;
}

.img {
    height: 250px;
    width: 250px;
    margin-bottom: 50px; 
}

.hidden-phone {
    margin-left: 10%;
}

.conteiner {
    background-color: #1b1b1b;
}

#sobre {
    font-size: 20px;
    text-align: justify; 
    font-family: 'Josefin Sans Std Light', serif;
    font-size: 20px;
    /*font-weight: bold;*/
}

#emcontrucao {
    margin-left: 30%;
    margin-right: 10%;
}

@media (max-width: 1200px) {
  #emcontrucao {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (max-width: 768px) {
  #emcontrucao {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (max-width: 675px) {
  #emcontrucao {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 665px) {
  #emcontrucao {
    margin-left: 10%;
    margin-right: 10%;
  }
  #imgconst {
    padding: 20px;
  }
}

@media (max-width: 495px) {
  #emcontrucao {
    margin-left: 10%;
    margin-right: 10%; 
  }
  #imgconst {
    height: 200px;
    width: 220px;
  }
}

@media (max-width: 455px) { 
  #imgconst {
    display: none;
  }
}

.const {
    text-align: center;
}

#imgconst { 
    margin-left: 15%;
    margin-right: 80%;
}